#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100dvw;
  height: 100dvh;
  background-color: var(--secondary-background-color);
}
#login-form .container {
  margin-top: 75px;
  min-width: 65%;
  min-height: 50%;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
}
#login-form .container .left-form {
  width: 50%;
  height: 550px;
  overflow: hidden;
  position: relative;
}
#login-form .container .left-form img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
#login-form .container .left-form .overlay {
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.6); */
  background-color: var(--primary-color);
  opacity: 30%;
  z-index: 2;
}
#login-form .container .loginFormContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 30px 60px;
}
#login-form .container .createFormContainer {
  width: 50%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 30px 60px;
}
#login-form .container .right-form .title {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#login-form .container .right-form .nameNsurname {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#login-form .container .right-form .input-wraper {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 3px solid var(--secondary-background-color);
}
#login-form .container .right-form .password {
  margin-bottom: 10px;
}
#login-form .container .right-form .input-wraper input {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 1rem;
  padding: 2px 10px;
  outline: none;
  border: none;
  background: transparent;
}
#login-form .container .right-form .input-wraper span {
  transition: all 0.3s ease-out;
  position: absolute;
  bottom: 4px;
  left: 10px;
  width: 100%;
  background: transparent;
}
#login-form .container .right-form .checkbox-wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin: 0px;
}
#login-form .container .right-form .checkbox-wraper .fakeCheckbox,
#signAgreement > div {
  border: 2px solid var(--secondary-background-color);
  border-radius: 3px;
  cursor: pointer;
  width: 17px;
  height: 17px;
  position: relative;
}
/* #signAgreement > div{

} */
#login-form .container .right-form .checkbox-wraper .fakeCheckbox input,
#signAgreement > div input {
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0px;
}
#login-form .container .right-form .checkbox-wraper .fakeCheckbox .fa-check,
#signAgreement > div .fa-check {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}
#login-form .container .right-form .checkbox-wraper span {
  font-size: 0.8rem;
}
#login-form .container .right-form .checkbox-wraper span a {
  font-size: 0.9rem;
  color: blue;
  text-decoration: underline;
}
#login-form .container .right-form .checkbox-wraper .recovery-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login-form
  .container
  .right-form
  .checkbox-wraper
  .recovery-title
  .forgetPassword {
  color: #2382e8;
}
#login-form .container .right-form .buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  /* padding: 30px; */
}

#login-form .container .right-form .buttons button {
  min-width: 40%;
  border: 1px solid var(--secondary-background-color);
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 1.05rem;
  cursor: pointer;
}
#createAccountBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#createAccountBtn button.login {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
#createAccountBtn button.login:hover {
  scale: 1.05;
}
#createBtn button {
  font-size: 1.05rem;
  width: 100%;
}
#createAccountBtn button {
  width: 100%;
}
/* #createAccountBtn > button.login {
  padding: 20px;
} */
#login-form
  > div
  > div.right-form.loginFormContainer
  > div.buttons
  > button:hover,
#login-form
  > div
  > div.right-form.loginFormContainer
  > div.buttons.accountButtons
  > div
  > button:hover,
#createBtn > button.login:hover {
  box-shadow: 0px 0px 5px black;
  /* scale: 0.5; */
}
#login-form .container .right-form .buttons .login {
  padding: 10px 20px;
  background: linear-gradient(to right, #2382e8, #892ff3 90%);
  color: #fff;
}
#login-form .container .right-form .buttons .create {
  padding: 9px 20px;
  background-color: white;
}
#login-form .container .right-form .buttons div {
  max-height: 50px;
  background: linear-gradient(to right, #2382e8, #892ff3 90%);
  border-radius: 25px;
  padding: 1px;
}
#login-form .container .right-form .accountButtons .submit {
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: #2382e8;
  color: #fff;
  float: right;
  cursor: pointer;
}
#login-form .container .right-form .accountButtons .submit:hover {
  box-shadow: 1px 1px 3px #222;
}
#login-form .container .right-form .divider {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: var(--secondary-background-color);
  position: relative;
  margin: 20px 0px;
}
#login-form .container .right-form .divider span {
  box-sizing: border-box;
  display: block;
  max-width: 29px;
  max-height: 23px;
  position: absolute;
  font-size: 0.8rem;
  padding: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-background-color);
  border-radius: 5px;
}
#login-form .container .right-form .withGoogle {
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid blue;
  padding: 0px 10px;
  border-radius: 20px;
  background-color: var(--secondary-background-color);
  cursor: pointer;
  /* margin-top: 10px; */
}
#login-form .container .right-form .withGoogle:hover {
  box-shadow: 1px 1px 3px black;
}
#login-form .container .right-form .withGoogle img {
  width: 30px;
  height: 30px;
}
#login-form .container .right-form .withGoogle button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.1rem;
}
