.main-body .main-section .sliding-dots{
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 5rem;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:9999;
}
.main-body .main-section .sliding-dots div{
    position: relative;
    padding: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #1a0f07;
    border-radius: 50%;
    margin: 0px 20px;
    cursor: pointer;
}
.pointer{
    background-color: #3e47ee;
}
.main-body .description{
    display:none;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    position:fixed;
    top: 11%;
    left:20%;
    /* transform: translate(-35%,-105%); */
    background-color:#fff;
    color: #222;
    padding: 30px 50px;
    z-index: 9999;
    box-shadow: 3px 3px 5px rgba(10, 40, 0, 0.5);
}
.main-body .description p{
    width: 100%;
    text-align: justify;
}
.main-body .description p span{
    padding-left: 30px;
}
.main-body .description span span{
    font-size: 1.5rem;
}
.main-body .description i{
    font-size: 1.9rem;
    padding: 10px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;

}